
<div class="container-fluid">
  <br><br><br><br>
  <div class="row">
    <div class="col-sm-6 text-center">
      <h3 class="text-secondary"><b>Awww...Dont't cry.</b></h3>
      <p class="text-secondary"><b>Its just a <span class="text-danger">404</span> error</b></p>
      <br>
      <p class="text-secondary"><b>what you you're looking for may have been misplaced in Long Term Memory.</b></p>
      <p class="text-secondary"><b>Go back to <a [routerLink]="['/single-user']">HomePage</a></b></p>
        
    </div>
    <div class="col-sm-6">
        <img src="../assets/images/cry.gif" alt="Baby Crying" class="img-thumbnail image">
    </div>
  </div>
</div>