
<div class="container-fluid">

        <div class="row">
            <div class="col-12  text-left ">
               <h4 class="heading animated fadeInLeft "><i class="fab fa-audible icon"></i><span>Trego</span></h4>
            </div>
        </div>
        <br><br>
    
        <div class="row p-0 m-0">
    
            <div class="col-sm"></div>
          
            <div class="col-sm p-5 form-div animated bounceInDown " >
    
    
         
          <div class="text-center heading">
                <div>
                    <h2>Welcome to Trego!</h2>
                </div>
                <br>
                <div class="text-center"><p>Verification Status</p></div>
                
                <div>
                    <h5 style="color:red">{{message}}</h5>
                </div>
            </div>
          
      
      
            <br>
            <br>
        
            <button class="btn btn-lg btn-dark btn-block" type="button"  [routerLink]="['/login']"  >Login</button>
   
        
          </div>
          
            <div class="col-sm"></div>
    </div>
    
    </div> 