
<div class="container-fluid">

    <div class="row">
        <div class="col-12  text-left ">
           <h4 class="heading animated fadeInLeft "><i class="fab fa-audible icon"></i><span>Trego</span></h4>
        </div>
    </div>
    <br><br>


    <div class="row">

        <div class="col-12 ">
           <h1 class="wel" > Welcome To Trego</h1>
           <br>
         
              
         <ul>

               <li ><i class="far fa-check-circle icon1"></i><p style="display:inline">Live TODO List Management System.</p></li>
               <li><i class="far fa-check-circle icon1"></i>Getting Things Done</li>
               <li><i class="far fa-check-circle icon1"></i>Scheduling, and Collaboration</li>
          </ul>
      
        <br><br>

               <h1 class="foot typewriters text-center">Time isn't the main thing.Its the only thing</h1>
               
               <br>

               <div class="row">

                <div class="col-4"></div>
                <div class="col-4">
                    <button class="btn  btn-dark btn-block animated bounceInUp" type="button" [routerLink]="['/login']" >Get Started</button>
                </div>
                <div class="col-4"></div>



               </div>

  

        </div>

   
</div> 
